#game{
    width: 100%;
    height: 600px;
    background-image: url(../images/sky.png);
    position: relative;
}
.bird{
    width: 30px;
    height: 30px;
    background-image: url(../images/birds.png);
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: 235px;
    transition: top .3s linear;
}
.start{
    height: 20px;
    color: #fff;
    position: absolute;
    left: 50%;
    font-size: 20px;
    font-weight: bolder;
    top: 315px;
    line-height: 20px;
    text-align: center;
    transform: translateX(-50%);
    transition: all .3s linear;
    cursor: pointer;
}
.pillar{
    width: 52px;
    position: absolute;
    vertical-align: bottom;
    /* display: none; */
}
.pillar.up{
    top: 0;
    background-image: url(../images/pipe2.png);
    background-position-y: bottom;
}
.pillar.down{
    bottom: 0;
    background-image: url(../images/pipe1.png);
}
.start.start-white{
    font-size: 24px;
    color: #fff;
}
.start.start-blue{
    font-size: 36px;
    color: #09f;
}
.score{
    position: absolute;
    color: #fff;
    transform: translateX(-50%);
    left: 50%;
    font-weight: bolder;
    font-size: 20px;
    display: none;
}
.mask{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: .7;

    display: none;
}
.end{
    font-size: 13px;
    
    color: #09f;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    display: none;
}
.over{
    font-size: 36px;
    color: red;
    font-weight: bolder;
}
.result{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: yellow;
    font-weight: bold;
}
.final-score{
    font-size: 20px;
    color: yellow;
    margin-bottom: 25px;
    font-weight: bold;
}
.rank-list .list-item{
    margin-bottom: 25px;
    font-weight: normal;
    text-align: center;
    height: 14px;
    line-height: 14px;
}
span{
    display: inline-block;
}
.list-item .rank-degree{
    width: 14px;
    
    color: #fff;
    background-color: #09f;
}
.list-item .rank-score{
    width: 30px;
    margin-right: 10px;
}
.rank-degree.first{
    background-color: #f54545;
}
.rank-degree.second{
    background-color: #ff8547;
}
.rank-degree.third{
    background-color: #ffac38;
}
.restart{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}